<div class="col-md-12 wase-feature">
    <br />
    <br />
    <div class="container">
        <div class="col-md-6">
            <br />
            <h1><small>THE MODERN</small><br />WEB APP STACK<br /><small>FOR MULTIPLE PLATFORMS</small></h1>
            <p>WebAPI, AngularJS, SQL Server and Entity Framework on multiple platforms</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/img/wase_logo_300x300.png" alt="WASE STACK" />
        </div>
    </div>
    <br />
    <br />
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>

<div class="col-md-12">
    <div class="container">
        <div class="jumbotron">
            <h2>On Mac OS</h2>
            Install Brew
            <pre>ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"</pre>
            Tap ASP.NET
            <pre>brew tap aspnet/k</pre>
            Install KVM
            <pre>brew install kvm</pre>
            If KVM is not avaliable on you terminal
            <pre>source kvm.sh</pre>
        </div>

        <div class="jumbotron">
            <h2>On Windows</h2>
            Download and Install <strong>Visual Studio 2013 Community</strong>
            <br />
            <a href="http://www.visualstudio.com/en-us/products/visual-studio-community-vs" target="_blank">http://www.visualstudio.com/en-us/products/visual-studio-community-vs</a>
        </div>
    </div>
</div>

<div class="col-md-12 navbar-inverse wase-info">
    <div class="container">
        <div class="col-md-6">
            <h3>What is WASE?</h3>
            <p>
                WASE is a complete modern web development stack that runs on Windows and Mac, helping you to achieve your development goals faster and organized.
            </p>

            <p>
                WASE is the acronym for <strong>WebAPI</strong>, <strong>AngularJS</strong>,
                <strong>SQL Server</strong> and <strong>Entity Framework</strong>, a very known stack for Microsoft developers, and now, for open source community.
            </p>

            <p>
                With WASE, you can easily create smart, robust and lightweight applications persisting your data <strong>In Memory</strong>, in a <strong>SQL Server</strong> or other database you prefer.
            </p>

            <h3>Tools for Non-Windows Developers</h3>
            <p>
                If you're running WASE STACK on <strong>Windows</strong>, we highly recommend you to
                <strong><a href="http://www.visualstudio.com/en-us/products/visual-studio-community-vs" target="_blank">download and install visual studio 2013 community</a></strong>.
            </p>
            <p>
                If you're running WASE STACK on <strong>Mac OS</strong>, we recommend you to
                <strong><a href="#/docs">read the Mac OS Getting Start Guide</a></strong>
                to obtain more information about our recommended tools.
                <br />
                <br />

            </p>
        </div>
        <div class="col-md-6 text-center">
            <br />
            <br />
            <div class="wase-logo">
                <img src="assets/img/wase_logo_300x300.png" alt="WASE STACK" />
                <br />WASE DEV STACK
            </div>
        </div>
    </div>
</div>