.wase-feature {
    background-color: #ddcc00;
}

    .wase-feature small {
        color: #fff;
    }

.wase-info h3 {
    color: #fff;
}

.wase-info a {
    color: #fff;
}

.wase-info {
    color: #fff;
}
